<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="Senthu"></include>
  </run>
  </groups>
    <classes>
      <class name="org.TestNG.Suiteclass"/>
      <class name="org.TestNG.testNGprac"/>
    </classes>
  </test> 
</suite>
